*{
  margin:0;
}

#form {
  background-image: linear-gradient(rgba(193, 66, 66, 0.68), rgba(193, 66, 66, 0.1));
}

.header {
  font-size: 60px;
  text-align: center;
  color: #222;
  padding: 0;
}
.input_grid {
  display: grid;
}
.input_boxes {
  background-color:none ;
  display:flex;
  justify-content: center;
}

.Label {
  font-size: 30px;
  color:white;
}
.box {
  display:flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;

}

.text_box {
  width: 280px;
  height: 35px;
  margin: 0px 0 40px 30px;
  border-radius: 5px;
  border:none;
  font-size: 20px;
  padding: 0 10px ;
}

.new_user {
  margin: 30px 0 30px 0;
  border-radius: 10px;
  background-color: rgba(155,155,155,0.7);

}

#user_alive {
  width: 300px;
  height: 35px;
  font-size: 20px;
  border: none;
}

#user_gender {
  width: 300px;
  height: 35px;
  font-size: 20px;
  border:none;
}


.button {
  justify-content: center;
  font-size: 30px;
}

input[type=submit] {
  width: 500px;
  height: 40px;
  font-size: 30px;
  border: none;
  border-radius: 30px;
}
.edit_user {
  margin: 30px 0 30px 0;
  border-radius: 10px;
  background-color: rgba(155,155,155,0.7);
}